scanner_params/params_stats.csv filter=lfs diff=lfs merge=lfs -text
scanner_params/scanners_params.csv filter=lfs diff=lfs merge=lfs -text
scanner_params/simset_materials.csv filter=lfs diff=lfs merge=lfs -text
